@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2020/08/30/09/28/buildings-5528981_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: auto;
  padding: 30px 10px 30px 10px;;
  backdrop-filter: blur(4px);
  border-radius: 9px;
  gap: 13px;
  flex-wrap: wrap;
}

.currentWeather button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
}

.currentWeather input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
}

.searchIn {
  display: flex;
}
.searchIn > * {
  border: none;
  border-radius: 9px;
  background-color: white;
  outline: none;
  border: none;
}
.searchIn > input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.searchBtn {
  position: relative;
  right: 13px;
  top: 0;
  cursor: pointer;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-weight: 600;
  flex-direction: column;
}

.countryAndReg {
  font-size: 18px;
  position: relative;
  font-weight: 400;
}
.currTempCont {
  display: inline-flex;
  color: white;
  position: relative;
  top: 35px;
}
.currTemp {
  font-size: 140px;
}
.currTempCont span {
  font-size: 25px;
  position: relative;
  top: -90px;
  color: rgb(170, 168, 168);
}

.otherInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  width: 100%;
  transition: all 0.3s ease-in;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.otherInfo span {
  color: rgb(170, 168, 168);
}

.otherInfo div{
  width: 160px;

}
.currentcondition {
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3 ease-out;
}
.creditAbhi {
  color: goldenrod;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease-out;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.creditAbhi:hover {
  transform: scale(1.1);
}
